<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Editar' : 'Novo' }} Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="save()" class="form">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Categoria</ion-label>
      <ion-select formControlName="category">
        <ion-select-option value="poste">Poste</ion-select-option>
        <ion-select-option value="arame">Arame</ion-select-option>
        <ion-select-option value="grampo">Grampo</ion-select-option>
        <ion-select-option value="portao">Portão</ion-select-option>
        <ion-select-option value="outros">Outros</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Unidade</ion-label>
      <ion-input
        placeholder="un, m, kg, rolo, saca"
        formControlName="unit"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Preço</ion-label>
      <ion-input type="number" step="0.01" formControlName="price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ativo</ion-label>
      <ion-select formControlName="active">
        <ion-select-option [value]="true">Sim</ion-select-option>
        <ion-select-option [value]="false">Não</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="form.invalid">
      Salvar
    </ion-button>
  </form>
</ion-content>
